spring:
  config:
    import: optional:file:.env.local[.properties]
  datasource:
    url: jdbc:postgresql://localhost:5435/${POSTGRES_DB}?currentSchema=${POSTGRES_SCHEMA}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
